.containerInput {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    white-space: nowrap;


    label {
        font-size: 16px;
        font-weight: 700;
        color: #23282F;
        white-space: nowrap;
    }
    
    .input {
        width: 100%;
        padding: 10px;
        height: 5vh;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    
        &:hover {
            outline: 1px solid #007bff;
            border-radius: 5px;
        }
        
        &:focus {
            box-shadow: 1px #001A3D;
            outline: 1px solid #007bff;
            border-radius: 5px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .containerInput { 
        .input {
            height: 50px;
        }
    }

}

@media (max-width: 767px) { 

    .containerInput { 

        label {
            font-size: 1rem;
            font-weight: 700;
            color: #23282F;
            white-space: nowrap;
        }

        .input {
            height: 30px;
        }
    }

    
}

  
