@use "../../index.scss" as *;

.perfil {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .userInfo {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        max-width: 400px;
        margin: 20px;
        width: 100%;
        height: 400px;
        outline: 1px solid #CBD4E1;
        box-shadow: 2px 7px 14px 1px rgba(0, 0, 0, 0.2509803922);
        
   
        svg {
            width: clamp(40px, 10vw, 60px);
            height: clamp(40px, 10vw, 60px);
            background-color: gray;
            border-radius: 50%;
            padding: 5px;
        }
        
        h2 {
            font-weight: 700;
            font-size: 1.2rem;
            color: #000000;
            text-transform: capitalize;
        }

        p {
            font-size: 0.87rem;
            color: $primary-accent;
            text-transform: uppercase;
            font-weight: bold;
        }

        .editando {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            max-width: 400px;
            width: 100%;

            .buttonEditando {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;        
                background-color: $primary-accent;
                color: $background-area;
                border-radius: 10px;
                padding: 5px 10px;
                cursor: pointer;
                transform: translateZ(0); 
                transition: 0.3s all ease-in-out;
                font-size: 1rem;

                .icon {
                    width: 35px;
                    height: 35px;
                    background-color: transparent;
                    border-radius: 0%;
                }

                &:hover {
                    transform: scale(1.05);
                }

            }

            .buttonCancel {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;        
                background-color: $secondary-accent;
                color: $background-area;
                border-radius: 10px;
                padding: 15px 10px;
                cursor: pointer;
                transform: translateZ(0); 
                transition: 0.3s all ease-in-out;
                font-size: 1rem;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .edit {
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;        
            background-color: $primary-accent;
            color: $background-area;
            border-radius: 10px;
            padding: 5px 10px;
            cursor: pointer;
            transform: translateZ(0); 
            transition: 0.3s all ease-in-out;
            font-size: 1rem;

            .icon {
                width: 30px;
                height: 30px;
                background-color: transparent;
                border-radius: 0%;
            }

            &:hover {
                transform: scale(1.05);
            }
        }

    }
}