@use "../../index.scss" as *;

.dashboard {
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .mainContainer {
        width: 85%;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        

        .mainHeader {
            width: 60%;
            height: 10%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: start;
        }
    
        .mode {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            width: 60%;


            .modeView {
                display: flex;
                justify-content: space-between;

                li {
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: #d6e2f1;
                        box-shadow: 0px 4px 4px 0px #0A0F1E29;
                    }

                    svg {
                        color: $secondary-bg;
                    }
                }
            }

            .modeAnalysis {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                outline: 1px solid $surface-layer;
                height: 9vh;

                li {

                    svg {
                        color: $primary-background;
                        height: 19px;
                        width: 19px;
                    }

                    .requested,
                    .analyze,
                    .check,
                    .wrong {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 35px;
                        width: 36px;
                        border-radius: 8px;
                    }

                    .requested {
                        background-color: #00BEDD;
                    }
    
                    .analyze {
                        background-color: #E56700;
                    }
    
                    .check {
                        background-color: #007A6A;
                    }
    
                    .wrong {
                        background-color: #A60B2F;
                    }
                }
            }

            .sistem {
                display: flex;
                align-items: center;
                gap: 5px;
                color: $primary-accent;
                font-size: 1rem;
                font-weight: 400;

                svg {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1280px) {
    .dashboard {

        .mainContainer {
            width: 100%;
            height: 95vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.25rem;
            

            .mainHeader {
                width: 70%;
                height: 10%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: start;
            }

            .mode {
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
                width: 70%;


                .modeView {
                    display: flex;
                    justify-content: space-between;

                    li {
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            background-color: #d6e2f1;
                            box-shadow: 0px 4px 4px 0px #0A0F1E29;
                        }

                        svg {
                            color: $secondary-bg;
                        }
                    }
                }

                .modeAnalysis {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    outline: 1px solid $surface-layer;
                    height: 9vh;

                    li {

                        svg {
                            color: $primary-background;
                            height: 19px;
                            width: 19px;
                        }

                        .requested,
                        .analyze,
                        .check,
                        .wrong {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 35px;
                            width: 36px;
                            border-radius: 8px;
                        }

                        .requested {
                            background-color: #00BEDD;
                        }

                        .analyze {
                            background-color: #E56700;
                        }

                        .check {
                            background-color: #007A6A;
                        }

                        .wrong {
                            background-color: #A60B2F;
                        }
                    }
                }

                .sistem {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: $primary-accent;
                    font-size: 1rem;
                    font-weight: 400;

                    svg {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .dashboard {
        width: 85vw;
        
    
        .mainContainer {
            justify-content: space-evenly;
            
            .mode {
                width: 90%;
                height: 80%;

                .modeView {
                    flex-direction: column;
                }
            }
        }
    }
}

@media (max-width: 767px) { 
    .dashboard {
        width: 85vw;
    
        .mainContainer {
            justify-content: space-evenly;
            

            .mainHeader {
                width: 90%;
               
                h1 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 0.80rem;
                }
            }
        
            .mode {
                width: 90%;
                height: 80%;

                .modeView {
                    flex-direction: column;
                    gap: 10px;
                }
    
                .modeAnalysis {
                    height: 100%;
                    flex-direction: column;

                   
    
                    li {
                        width: 100%;
                    }
                }
            }
        }
    }
}