@use "../../index.scss" as *;

.reembolso {
    width: 95vw;

    .mainContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .infoContainer {
            width: 100%;
            display: flex;
            gap: 20px;
    
            .form {
                width: 40%;
                height: 20vh;
                display: grid;
                justify-content: space-between;
                grid-template-columns: 50% 20% 20%;
                grid-template-rows: auto auto; 
                border-right: 1px solid $surface-layer;
                padding-right: 20px;
                
                > *:nth-child(4) {
                    grid-column: 1 / 4; 
                }
            }
    
            .formDetails {
                width: 60%;
                height: 20vh;
                display: grid;
                justify-content: space-evenly;
                grid-template-columns: 15% 25% 53%;
                grid-template-rows: auto auto;

                .containerDate {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    position: relative;

                    label {
                        font-size: 16px;
                        font-weight: 700;
                        color: $secondary-bg;
                    }

                    .input {
                        width: 100%;
                        padding: 0px 0px 0px 10px;
                        height: 5vh;
                        margin-bottom: 10px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        transition: all 0.3s ease-in-out;
                        z-index: 10;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: auto;
                        font-size: 0.8rem;
                        font-weight: 400;
                        color: #898D93;
                        text-transform: uppercase;
                    
                            &:hover {
                                outline: 1px solid #007bff;
                            }
                            
                            &:focus {
                                box-shadow: 1px $primary-bg;
                                outline: 1px solid #007bff;
                            }

                            &::after {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 1rem;
                                width: 50px;
                                height: 5vh;
                                content: "\1F4C5";
                                
                                top: 60%;
                                right: 0px;
                                transform: translateY(-50%);
                                position: absolute;
                                pointer-events: none;
                                
                                background: $primary-bg;
                                border-radius: 0 6px 6px 0;
                                z-index: -1;
                            }

                            &::-webkit-calendar-picker-indicator {
                                width: 50px;
                                height: 5vh;
                                background: transparent;
                                cursor: pointer;
                                border-radius: 5px;
                            }
                    }
                    
                }
                .rows {
                    grid-column: 1 / 4;
                    display: grid;
                    justify-content: space-between;
                    grid-template-columns: 6% 6% 6% 10% 8% 12% 12% 12% 10% 5%;

                    .save {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: auto;
                        gap: 5px;
                        position: relative;
                        top: 10px;
                        background-color: $primary-bg;
                        width: 100%;
                        height: 5vh;
                        border: none;
                        border-radius: 6px;
                        color: $primary-background;
                        cursor: pointer;
                        font-weight: 700;
                        font-size: 1rem;

                        svg {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $primary-background;
                        }
                    }

                    .delete {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        top: 10px;
                        margin: auto;
                        background-color: $primary-element;
                        width: 100%;
                        height: 5vh;
                        border: none;
                        border-radius: 6px;
                        color: $primary-background;
                        cursor: pointer;
                        font-weight: 700;
                        font-size: 1rem;

                        span {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }

        .tableContainer {
            display: grid;
            align-items: start;
            width: 99%;
            height: 60vh;
            border-radius: 5px;
            outline: 1px solid $surface-layer;
            overflow-y: scroll;

            .customTable {
                display: grid;
                width: 100%;

                .containerThead {
                    height: 5vh;
                    width: 100%;
                    display: grid;
                    align-items: center;
                    background-color: $background-area;

                    .containerTr {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 3% 9% 6% 6% 7% 7% 11% 10% 5% 5% 5% 5% 5% 5% 5% 6%;

                        th {
                            display: grid;
                            justify-content: center;
                            align-items: center;
                            border-right: 1px solid $surface-layer;
                            border-bottom: 1px solid $surface-layer;
                            height: 5vh;
                            font-weight: 400;
                            font-size: 1rem;
                            color: $secondary-bg;
                        }
                    }
                }

                .containerTbody {
                    width: 100%;
                    display: grid;
                    align-items: center;

                    .containerTr {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 3% 9% 6% 6% 7% 7% 11% 10% 5% 5% 5% 5% 5% 5% 5% 6%;

                        .clickHover,
                        .motiveHover {
                            transition: all 0.3s ease-in-out;
                            cursor: pointer;
                            
                            &:hover {
                                background-color: #7f96b4;
                            }
                        }

                        .motiveHover {
                            font-size: 1.2rem;
                        }

                        td {
                            display: grid;
                            align-items: center;
                            justify-content: center;
                            border-right: 1px solid $surface-layer;
                            border-bottom: 1px solid $surface-layer;

                            height: 5vh;
                            font-weight: 400;
                            font-size: 1rem;
                            color: $secondary-bg;

                            svg {
                                color: $secondary-layer;
                            }
                        }
                    }

                }
            }
        }

        .containerFull {
            width: 100%;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: end;
            
            .containerGroups {
                width: 60%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;            
            } 

            .send {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                position: relative;
                top: 8px;
                background-color: $primary-bg;
                width: 25%;
                height: 5vh;
                border: none;
                border-radius: 6px;
                color: $primary-background;
                cursor: pointer;
                font-weight: 700;
                font-size: 1rem;

                svg {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $primary-background;
                }
            }

            .cancel {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.31rem;
                position: relative;
                top: 8px;
                background-color: $secondary-accent;
                width: 25%;
                height: 5vh;
                border: none;
                border-radius: 6px;
                color: white;
                cursor: pointer;
                font-weight: 700;
                font-size: 1rem;

                svg {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $primary-background;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .reembolso {
        width: 85vw; //tablet
    
        .mainContainer {
            width: 95%; //tablet
            display: flex;
            align-items: center; // tablet
            
            gap: 60px; //tablet
    
            .infoContainer {
                flex-direction: column; //tablet
                gap: 5px; //tablet
        
                .form {
                    width: 100%; //tablet
                    border-right: none; //tablet
                    padding-right: 0px; //tablet
                }
        
                .formDetails {
                    width: 100%; //tablet
                    justify-content: space-between; //tablet
                    // grid-template-rows: auto auto; //tablet
    
                    .containerDate {
                       
    
                       
    
                        .input {
                            
                        
                               
    
                                &::after {
                        
                                    top: 56%; //tablet
                                    right: 0px;
                                    transform: translateY(-50%);
                                }
                        }
                        
                    }
                    .rows {
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; //tablet
                        grid-template-rows: 1fr 1fr; //tablet
    
                        .save {
                            top: 6px; //tablet
                        }
    
                        .delete {
                            top: 6px; //tablet
                            
    
                           
                        }
                    }
                }
            }
    
            .tableContainer {
             
                height: 25vh; //tablet
                overflow-x: scroll; //tablet
    
                .customTable {
                    
    
                    .containerThead {
                        
    
                        .containerTr {
                           
                            
                            grid-template-columns: 10% 15% 10% 10% 10% 10% 20% 20% 10% 10% 10% 10% 10% 10% 15% 10%; //tablet
    
                            th {
                                
                                grid-template-columns: auto; //tablet

                                // text-overflow: ellipsis;
                                white-space: nowrap; //tablet
                                // overflow: hidden;
                            }
                        }
                    }
    
                    .containerTbody {
    
                        .containerTr {
                            
                            
                            grid-template-columns: 10% 15% 10% 10% 10% 10% 20% 20% 10% 10% 10% 10% 10% 10% 15% 10%;
    
                            
    
    
                            td {
                                

                                white-space: nowrap; //tablet
                                // overflow: hidden; //tablet 
                                // text-overflow: ellipsis; //tablet
                                
    
                                height: 5vh;
                                font-weight: 400;
                                font-size: 1rem;
                                color: $secondary-bg;
    
                                svg {
                                    color: $secondary-layer;
                                }
                            }
                        }
    
                    }
                }
            }
    
            .containerFull {
              
                height: 15vh; //tablet
               
                
                .containerGroups {
                    width: 100%; //tablet
                  
                  
                    display: grid;     //tablet
                    grid-template-columns: 1fr 1fr; //tablet
                    gap: 10px; //tablet
                } 
    
                .send {
                    width: 100%; //tablet
                    white-space: nowrap; //tablet
                    
                    font-size: 0.90rem; //tablet
                }
    
                .cancel {
                    
                    width: 100%; //tablet
                    white-space: nowrap; //tablet
                   
                    font-size: 0.90rem; //tablet
    
                    svg {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $primary-background;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .reembolso {
        width: 85vw; //tablet
    
        .mainContainer {
            width: 90%; //tablet //mobile
            margin: 0 auto; //tablet //mobile
            align-items: center; // tablet
            flex-direction: column;
            gap: 5px; //tablet
    
            .infoContainer {
                margin-top: 10px; //mobile
                flex-direction: column; //tablet
                gap: 5px; //tablet

                height: 25vh; //tablet
                // outline: 1px solid red; //tablet
                overflow-y: scroll;
        
                .form {
                    width: 100%; //tablet
                    height: auto; //mobile
                    display: flex; //mobile
                    flex-direction: column; //mobile
                    justify-content: space-between;
                    grid-template-columns: none; //mobile
                    // grid-template-rows: auto auto; tablet
                    border-right: 1px solid $surface-layer; //tablet
                    padding-right: 0px; //tablet
                    
                }
        
                .formDetails {
                    width: 100%; //tablet
                    height: auto; //mobile
                    display: flex; //mobile
                    flex-direction: column; //mobile
                    justify-content: space-between;
                    grid-template-columns: none; //mobile
                    // grid-template-rows: auto auto; //tablet
    
                    .containerDate {
                       
    
                        
    
                        .input {
                            
                            height: 40px; //mobile
                           
                            
                        
                                &:hover {
                                    outline: 1px solid #007bff;
                                }
                                
                                &:focus {
                                    box-shadow: 1px $primary-bg;
                                    outline: 1px solid #007bff;
                                }
    
                                &::after {
                                    
                                    height: 40px; //mobile
                                    
                                    
                                    
                                }
    
                                &::-webkit-calendar-picker-indicator {
                                    width: 50px;
                                    height: 5vh;
                                    background: transparent;
                                    cursor: pointer;
                                    border-radius: 5px;
                                }
                        }
                        
                    }
                    .rows {
                        // grid-column: 1 / 4; //mobile
                        display: flex; //mobile
                        flex-direction: column; //mobile
                        gap: 10px;
                        // grid-template-columns: 6% 6% 6% 10% 8% 12% 12% 12% 10% 5%;
                        grid-template-columns: 1px solid $surface-layer; //tablet //mobile
                        grid-template-rows: 1px solid $surface-layer; //tablet //mobile
    
                        .save {
                        
                            position: none; //mobile
                            top: 6px; //tablet
                            background-color: $primary-bg;
                           
                            min-height: 50px; //mobile
                        
    
                        }
    
                        .delete {
                            position: none; //mobile
                            
                            top: 6px; //tablet
                           
                            background-color: $primary-element;
                           
                            min-height: 50px; //mobile
                            
                           
    
                           
                        }
                    }
                }
            }
    
            .tableContainer {
                display: flex; //mobile 
                align-items: start;
                width: 100%; //mobile
                height: 25vh; //tablet
                border-radius: 5px;
                overflow-x: scroll; //tablet
    
                .customTable {
                    
    
                    .containerThead {
                        
    
                        .containerTr {
                            width: 100%; //mobile
                            display: grid; //mobile
                            
                            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; //mobile
    
                            th {
                                width: 150px; //mobile
                                grid-template-columns: auto; //tablet
                                
                                text-overflow: ellipsis; //mobile
                                white-space: nowrap; //mobile
                                overflow: hidden; //mobile
                                
                                
                                height: 5vh;
                                font-weight: 400;
                                
                                font-size: 1rem;//mobile
                                
                            }
                        }
                    }
    
                    .containerTbody {
                        
    
                        .containerTr {
                            width: 100%; //mobile
                            display: grid; //mobile
                            // grid-template-columns: 3% 9% 6% 6% 7% 7% 11% 10% 5% 5% 5% 5% 5% 5% 5% 6%;
                            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; //mobile
                            

    
                            
    
                            td {
                                
                                border-right: 1px solid $surface-layer; //mobile
                                border-bottom: 1px solid $surface-layer; //mobile

                               
                                width: 150px; //mobile
                                text-overflow: ellipsis; //mobile
                                white-space: nowrap; //mobile
                                overflow: hidden; //mobile
                                
                                font-size: 1rem;//mobile
                                
                            }
                        }
    
                    }
                }
            }
    
            .containerFull {
                height: 15vh; //tablet
                display: flex; //mobile
               
                .containerGroups {
                    width: 100%; //tablet
                    height: 100%;
                    display: grid;     
                    grid-template-columns: 1fr; //mobile
                    gap: 10px;
                } 
    
                .send {
                    width: 100%; //tablet
                    white-space: nowrap; //tablet
                    font-size: 0.90rem; //tablet
                }
    
                .cancel {
                    width: 100%; //tablet
                    white-space: nowrap; //tablet
                    font-size: 0.90rem; //tablet
                }
            }
        }
    }
}