.historico {
    width: 95vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .historico {
        width: 85vw;
    }
}

@media (max-width: 767px) {
    .historico {
        width: 85vw;
    }
}







