@use "../../index.scss" as *;

.historico {
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .containerTitle {
      display: flex;
      width: 100%;
      height: 30vh;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .logo {
        width: 100px;
      }

      .title {
        width: 400px;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        color: $secondary-bg;
      }

      .subtitle {
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        color: $primary-accent;
        margin-bottom: 20px;
      }
      
    }

    .tableContainer {
            display: grid;
            align-items: start;
            width: 99%;
            height: 60vh;
            border-radius: 5px;
            outline: 1px solid $surface-layer;
            overflow-y: scroll;

            .customTable {
                display: grid;
                width: 100%;

                .containerThead {
                    height: 5vh;
                    width: 100%;
                    display: grid;
                    align-items: center;
                    background-color: $background-area;

                    .containerTr {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 3% 9% 6% 6% 7% 7% 11% 10% 5% 5% 5% 5% 5% 5% 5% 6%;

                        th {
                            display: grid;
                            justify-content: center;
                            align-items: center;
                            border-right: 1px solid $surface-layer;
                            border-bottom: 1px solid $surface-layer;
                            height: 5vh;
                            font-weight: 400;
                            font-size: 1rem;
                            color: $secondary-bg;
                        }
                    }
                }

                .containerTbody {
                    width: 100%;
                    display: grid;
                    align-items: center;

                    .containerTr {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 3% 9% 6% 6% 7% 7% 11% 10% 5% 5% 5% 5% 5% 5% 5% 6%;

                        .clickHover,
                        .motiveHover {
                            transition: all 0.3s ease-in-out;
                            cursor: pointer;
                            
                            &:hover {
                                background-color: #7f96b4;
                            }
                        }

                        .motiveHover {
                            font-size: 1.2rem;
                        }

                        td {
                            display: grid;
                            align-items: center;
                            justify-content: center;
                            border-right: 1px solid $surface-layer;
                            border-bottom: 1px solid $surface-layer;

                            height: 5vh;
                            font-weight: 400;
                            font-size: 1rem;
                            color: $secondary-bg;

                            svg {
                                color: $secondary-layer;
                            }
                        }
                    }
                }
            }
        }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .historico {
        width: 80vw;

        .tableContainer {
            height: 50vh;
            overflow-x: scroll;

            .customTable {
                
                .containerThead {
                    
                    .containerTr {
                        grid-template-columns: 10% 15% 10% 10% 10% 10% 20% 20% 10% 10% 10% 10% 10% 10% 15% 10%;

                        th {
                            grid-template-columns: auto;
                            white-space: nowrap;
                        }
                    }
                }

                .containerTbody {

                    .containerTr {
                        grid-template-columns: 10% 15% 10% 10% 10% 10% 20% 20% 10% 10% 10% 10% 10% 10% 15% 10%;

                        td {
                            white-space: nowrap;
                            height: 5vh;
                            font-weight: 400;
                            font-size: 1rem;
                            color: $secondary-bg;

                            svg {
                                color: $secondary-layer;
                            }
                        }
                    }
                }
            }
        }
    }
}
    

@media (max-width: 767px) {
    .historico {
        width: 80vw;

        .containerTitle {
            display: flex;
            width: 100%;
            height: 35vh;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            .logo {
                width: 70px;
            }

            .title {
                width: 300px;
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
                color: $secondary-bg;
            }

            .subtitle {
                font-size: 1rem;
                font-weight: 700;
                text-align: center;
                color: $primary-accent;
                margin-bottom: 20px;
            }
        
        }

        .tableContainer {
        

            .customTable {
                
                .containerThead {
                    
                    .containerTr {
                        
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

                    
                    }
                }

                .containerTbody {
                    
                    .containerTr {
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                        
                        td {
                            border-right: 1px solid $surface-layer;
                            border-bottom: 1px solid $surface-layer;
                            width: 150px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            font-size: 1rem;
                        }
                    }

                }
            }
        }
    }
}
            
        







