.analysis {
    display: flex;
    align-items: center;
    gap: 8px;
    
    svg {
        width: 36px;
        height: 36px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {  

    .analysis {
        flex-wrap: wrap;
    }
}