@use "../../index.scss" as *;

.navbar.collapsed {
    width: 4vw;
    box-shadow: none;
    
    .userInfo {
        align-items: start;
    }
}

.hidden {
    display: none;
}

.navbar {
    width: 250px;
    height: 100vh;
    transition: width 0.3s ease;
    background-color: $primary-background;
    color: $primary-background;
    padding: 0.62rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    box-shadow: 0 0 1.25rem 0 $secondary-layer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    /* Botão de abrir/fechar menu */
    .menuToggle {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        color: $primary-background;
        font-size: 1.5rem;
        cursor: pointer;
        margin-top: 24px;
        background-color: $primary-accent;
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 6px;

        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #094cdd;
        }
    }

    /* Usuário */
    .userInfo {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 15%;
        justify-content: space-between;
        // outline: 1px solid red;
   
        svg {
            width: 50px;
            height: 50px;
            background-color: gray;
            border-radius: 50%;
            padding: 5px;
        }
        
        h2 {
            font-weight: 700;
            font-size: 1rem;
            color: #000000;
        }

        p {
            font-weight: 400;
            font-size: 0.87rem;
            color: $primary-accent;
        }

        a {
            text-decoration: underline;
            margin-top: 5px;
            font-weight: bold;
            color: $primary-accent;
        }
    }

    /* Lista de navegação */
    .navList {
        display: flex;
        flex-direction: column;
        gap: 15px;
        list-style-type: none;
        padding: 0;
        width: 100%;  
        align-items: start;      

        li {
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 6px;
            color: $primary-background;

            a {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #000;
                width: 100%;
                font-size: 1.2rem;
                

                .containerIcon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $primary-accent;
                    width: 2.5vw;
                    height: 2.5vw;
                    border-radius: 6px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: #094cdd;
                    }

                    svg {
                        color: $primary-background;
                        font-size: 24px;
                    }
                }
            }
        } 
    }

    /* Ícone de Logout */
    .fiLogOut {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 6px;
        background-color: $secondary-layer;
        cursor: pointer;
        margin-bottom: 20px;
        border: none;
        
        svg {
            font-size: 1.5rem;
            color: $primary-background;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar.collapsed {
        width: 10vw;

        /* Botão de abrir/fechar menu */
        .menuToggle {
            width: 7vw;
            height: 5vh;
        }
    
        /* Usuário */
        .userInfo {
            
           
            svg {
                width: 7vw;
                height: 5vh;
            }
        }
    
        /* Lista de navegação */
        .navList {
            
            align-items: center;
            justify-content: center;
   
            li {
                width: 7vw;
                height: 5vh;
                background-color: $primary-accent;
                color: $primary-background;
    
                a {
                    justify-content: center;
                    color: $primary-background;
                }
            } 
        }
    
        /* Ícone de Logout */
        .fiLogOut {
            width: 7vw;
            height: 5vh;
        }
    }
    
    .hidden {
        display: none;
    }
    
    .navbar {
        width: 100%;
        z-index: 1000;
    
        /* Botão de abrir/fechar menu */
        .menuToggle {
            width: 60px;
            height: 60px;
        }
    
        /* Usuário */
        .userInfo {
            
            svg {
                width: 70px;
                height: 70px;
            }
            
            h2 {
                font-size: 1.5rem;
            }
    
            p {
                font-size: 1.2rem;
            }
        }
    
        /* Lista de navegação */
        .navList {
            align-items: center;
            justify-content: center;
    
            li {
                width: 50%;
                background-color: $primary-accent;
                height: 5vh;
                

    
                a {
                    justify-content: center;
                    color: $primary-background;
                }
            } 
        }
    
        /* Ícone de Logout */
        .fiLogOut {
            width: 60px;
            height: 60px;
        }
    }
}

@media (max-width: 767px) {
    
    .navbar.collapsed {
        width: 15vw;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh; // fallback
        height: 100dvh; // altura dinâmica real
        overflow-y: auto; // permite rolar o conteúdo interno
        z-index: 1000; 

        /* Botão de abrir/fechar menu */
        .menuToggle {
            width: 10vw;
            height: 7vh;
        }
    
        /* Usuário */
        .userInfo {
            

            svg {
                width: 40px;
                height: 40px;
            }
        }
    
        /* Lista de navegação */
        .navList {
            align-items: center;
            justify-content: center;   
    
            li {
                width: 10vw;  
                height: 7vh;
                background-color: $primary-accent;
               
                a {
                    justify-content: center;
                    color: $primary-background;

                    .containerIcon {
                        width: 10vw;
                        height: 7vh;
                    }
                }
            } 
        }
    
        /* Ícone de Logout */
        .fiLogOut {
            width: 10vw;
            height: 7vh;
        }
    }
    
    .hidden {
        display: none;
    }
    
    .navbar {
        width: 100%;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh; // fallback
        height: 100dvh; // altura dinâmica real
        overflow-y: auto; // permite rolar o conteúdo interno
        z-index: 1000; 

    
        /* Botão de abrir/fechar menu */
        .menuToggle {
            width: 10vw;
            height: 7vh
        }
    
        /* Usuário */
        .userInfo {
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 20%;
            justify-content: space-between;
       
            svg {
                width: 40px;
                height: 40px;
            }
            
            h2 {
                font-size: 1.2rem;
            }
    
            p {
                font-size: 1rem;
            }
        }
    
        /* Lista de navegação */
        .navList {
            align-items: center;
            justify-content: center;

               
    
            li {
                width: 60%;
                background-color: $primary-accent;
                height: 7vh;
                
                a {
                    justify-content: center;
                    color: $primary-background;
                    gap: 1px;
                    
                    .containerIcon {
                        width: 10vw;
                        height: 7vh;
                  
    
                        &:hover {
                            background-color: #094cdd;
                        }
                    }
                }
            } 
        }
    
        /* Ícone de Logout */
        .fiLogOut {
            width: 10vw;
            height: 7vh;
        }
    }
}