@use "../../index.scss" as *;

.analises {
    width: 95vw;
    height: 95vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .totalSection {
        width: 95vw;
        height: 50vh;
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
        gap: 2px;
        
        .totalContainer {
            display: flex;
            width: 40%;
            height: 300px;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            // gap: 20px;
            padding: 1rem;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);



            .contentTitulo {
                display: flex;
                width: 100%;
                
                h1 {
                    padding-left: 20px;
                    font-size: 1.7rem;
                    color: $primary-accent;
                }
            }

            .totalContainerStatus {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 20px;
                width: 100%;
                padding: 1rem;
                background-color: #fff;
                
                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 10px;
                    outline: 1px solid $surface-layer;
                    background-color: #333;
                    padding: 1rem;
                    background-color: #fff;
                    border-radius: 8px;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

                    .contentTitle {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        svg {
                            font-size: 1.3rem;
                        }

                        h2 {
                            font-size: 1.2rem;
                            color: #333;
                        }
                        
                    }

                    

                    p {
                        color: green;
                        font-weight: bolder;
                        font-size: 1.5rem;
                    }
                }
            }

            
        }

        .chartSection {
            display: flex;
            flex-direction: column;
            width: 30%;
            margin: 2rem;
            padding: 1rem;
            height: 300px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

            h2 {
                text-align: center;
                margin-bottom: 1rem;
                color: #333;
            }
        }
    }

    .tableContainer {
        display: grid;
        align-items: start;
        width: 99%;
        height: 60vh;
        border-radius: 5px;
        outline: 1px solid $surface-layer;
        overflow-y: scroll;

        .customTable {
            display: grid;
            width: 100%;
            .containerHeader {
                height: 10vh;
                width: 100%;
                display: grid;
                align-items: center;
                background-color: $background-area;

                .containerTr {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;

                    h2 {
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        height: 5vh;
                        font-weight: bolder;
                        font-size: 1.5rem;
                        color: $secondary-bg;
                    }


                    
                    .resumoBlue {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $primary-accent;
                        border: none;
                        width: 200px;
                        padding: 10px 0px;
                        cursor: pointer;
                        border-radius: 10px;
                        color: $background-area;
                        gap: 5px;

                        svg {
                            font-size: 20px;
                        }
                    }

                    .resumoPurple {
                        background-color: #6f0385;
                        border: none;
                        width: 200px;
                        padding: 10px 0px;
                        cursor: pointer;
                        border-radius: 10px;
                        color: $background-area;
                    }

                    .resumoRed {
                        background-color: $secondary-accent;
                        border: none;
                        width: 200px;
                        padding: 10px 0px;
                        cursor: pointer;
                        border-radius: 10px;
                        color: $background-area;
                    }

                    .resumoGreen {
                        background-color: green;
                        border: none;
                        width: 200px;
                        padding: 10px 0px;
                        cursor: pointer;
                        border-radius: 10px;
                        color: $background-area;
                    }
                
                }
            }
            

            .containerThead {
                height: 5vh;
                width: 100%;
                display: grid;
                align-items: center;
                background-color: $background-area;

                .containerTr {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 15% 15% 15% 15% 15% 25%;

                    th {
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        border-bottom: 1px solid $surface-layer;
                        height: 5vh;
                        font-weight: 400;
                        font-size: 1rem;
                        color: $secondary-bg;
                    }
                }


            }
        }

        .containerTbody {
            width: 100%;
            display: grid;
            align-items: center;

            .containerTr {
                width: 100%;
                display: grid;
                grid-template-columns: 15% 15% 15% 15% 15% 25%;

                .clickHover,
                .motiveHover {
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                    
                    &:hover {
                        background-color: #7f96b4;
                    }
                }

                .motiveHover {
                    font-size: 1.2rem;
                }

                td {
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid $surface-layer;
                    border-bottom: 1px solid $surface-layer;

                    height: 5vh;
                    font-weight: 400;
                    font-size: 1rem;
                    color: $secondary-bg;

                    svg {
                        color: $secondary-layer;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1380px) {
    .analises {
        width: 80vw;
        
        .totalSection {
            width: 99%;
            display: flex;
            justify-content: start;
            align-items: center;
            text-align: center;
            gap: 2px;
            
            margin-bottom: 20px;
            height: 40vh;
            overflow-y: auto;
            overflow-x: hidden;
            outline: 1px solid #33333350;
            flex-direction: column;
        
            .totalContainer {
                display: flex;
                height: 280px;
                flex-direction: column;
                
                gap: 20px;
                padding: 1rem;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                
                justify-content: center;
                width: 100%;
                align-items: center;
                
                
                .contentTitulo {
                    width: 50vw;
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h1 {
                        font-size: 1.7rem;
                        color: $primary-accent;

                        
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 10px;
                    outline: 1px solid $surface-layer;
                    background-color: #333;
                    padding: 1rem;
                    background-color: #fff;
                    border-radius: 8px;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

                    h2 {
                        font-size: 1.2rem;
                        color: #333;
                    }

                    p {
                        color: green;
                        font-weight: bolder;
                        font-size: 1.5rem;
                    }
                }
            }
        }


        .chartSection {
            width: 80vw;
            margin: 2rem;
            
            padding: 1rem;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

            h2 {
                text-align: center;
                margin-bottom: 1rem;
                color: #333;
            }
        }



        .tableContainer {
            height: 50vh;
            overflow-x: scroll;
            

            .customTable {
                
                .containerThead {
                    
                    .containerTr {
                        grid-template-columns: 15% 15% 15% 15% 15% 25%;

                        th {
                            grid-template-columns: auto;
                            white-space: nowrap;
                        }
                    }
                }

                .containerTbody {

                    .containerTr {
                        grid-template-columns: 15% 15% 15% 15% 15% 25%;

                        td {
                            white-space: nowrap;
                            height: 5vh;
                            font-weight: 400;
                            font-size: 1rem;
                            color: $secondary-bg;

                            svg {
                                color: $secondary-layer;
                            }
                        }
                    }
                }
            }
        }
    }
}
    

@media (max-width: 967px) {
    .analises {
        width: 80vw;
        height: 100%;
        
        .totalSection {
            flex-direction: column;
            
            .totalContainer {
                display: flex;
                width: 100%;
                height: 400px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;


                .contentTitulo {
                    display: flex;
                    width: 100%;
                    
                    h1 {
                        padding-left: 20px;
                        font-size: 1.7rem;
                        color: $primary-accent;
                    }
                }

            
                .totalContainerStatus {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                    gap: 20px;
                    width: 100%;
                    padding: 1rem;
                    background-color: #fff;
                    // border-radius: 8px;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

                    .content {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        gap: 10px;
                        outline: 1px solid $surface-layer;
                        background-color: #333;
                        padding: 1rem;
                        background-color: #fff;
                        border-radius: 8px;
                        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

                        .contentTitle {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            svg {
                                font-size: 1.3rem;
                            }

                            h2 {
                                font-size: 1.2rem;
                                color: #333;
                            }
                            
                        }

                        

                        p {
                            color: green;
                            font-weight: bolder;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }

        .tableContainer {
            display: flex; 
            align-items: start;
            width: 100%;
            height: 40vh;
            border-radius: 5px;
            overflow-x: scroll;

            .customTable {
                
                .containerThead {
                    
                    .containerTr {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 15% 15% 15% 15% 15% 25%;

                        th {
                            width: 150px;
                            grid-template-columns: auto;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            height: 5vh;
                            font-weight: 400;
                            font-size: 1rem;
                            
                        }
                    }
                }

                .containerTbody {
                    
                    .containerTr {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 15% 15% 15% 15% 15% 25%;
                        
                        td {
                            border-right: 1px solid $surface-layer;
                            border-bottom: 1px solid $surface-layer;
                            width: 150px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 770px) {
    .analises {
        width: 80vw;
        height: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

        .totalSection {
            width: 99%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 2px;
            margin-top: 15px;

            flex-direction: column;
            
            .totalContainer {
                width: 100%;
                height: 577px;
                align-items: center;
                gap: 20px;

                .contentTitulo {
                    
                    h1 {
                        font-size: 1.5rem;
                        color: $primary-accent;
                    }
                }

                .totalContainerStatus {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                    gap: 20px;
                    width: 100%;
                    padding: 1rem;
                    background-color: #fff;
                    // border-radius: 8px;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

                    .content {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        gap: 10px;
                        outline: 1px solid $surface-layer;
                        background-color: #333;
                        padding: 1rem;
                        background-color: #fff;
                        border-radius: 8px;
                        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

                        .contentTitle {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            svg {
                                font-size: 1.3rem;
                            }

                            h2 {
                                font-size: 1rem;
                                color: #333;
                            }
                            
                        }

                        p {
                            color: green;
                            font-weight: bolder;
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .chartSection {
                width: 80vw;
                margin: 2rem;
                height: 400px;
            }
        }

        .tableContainer {
            display: flex; 
            align-items: start;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            overflow-x: scroll;
            margin-bottom: 20px;

            .customTable {
                
                .containerThead {
                    
                    .containerTr {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 15% 15% 15% 15% 15% 25%;

                        th {
                            width: 150px;
                            grid-template-columns: auto;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            height: 5vh;
                            font-weight: 400;
                            font-size: 1rem;
                            
                        }
                    }
                }

                .containerTbody {
                    
                    .containerTr {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 15% 15% 15% 15% 15% 25%;
                        
                        td {
                            border-right: 1px solid $surface-layer;
                            border-bottom: 1px solid $surface-layer;
                            width: 150px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}